<table class="table">
<thead class="table-dark">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Units in Stock</th>
    </tr>
</thead>
<tbody>
    
    <tr *ngFor="let tempProduct of products">
        <td class="align-middle">
            <img src="imageurl" height="50"/>
        </td>
<td class="align-middle">{{tempProduct.name}}</td>
<td class="align-middle">{{tempProduct.unit_price}}</td>
<td class="align-middle">{{tempProduct.units_in_stock}}</td>
    </tr>
</tbody>
</table>



